<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>program upload</title>
</head>
<body>
<div>
    <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/program/upload}">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input id="files" multiple name="files" type="file"/></td>
            </tr>
            <tr>
                <td>User id:</td>
                <td><input id="user_id" name="user_id" type="text"></td>
            </tr>
            <tr>
                <td>Lang id:</td>
                <td><input id="lang_id" name="lang_id" type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>